.checkout {
  .checkout-ad {
    width: -webkit-fill-available;
    object-fit: cover;
    margin: 15px 20px;
  }
  .checkout-content {
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    .shopping-basket {
      flex: 1;
      padding: 30px 20px;
      margin-right: 20px;
      background: #fff;
      h2 {
        padding: 10px;
        font-size: 28px;
        border-bottom: 1px solid lightgray;
      }
    }
    .subtotal {
      padding: 20px;
      height: max-content;
      background: #fff;
      p {
        font-size: 18px;
        margin-bottom: 10px;
      }
      .subtotal-gift {
        display: flex;
        align-items: center;
        input {
          margin-right: 5px;
        }
      }
      .btn-checkout {
        width: 100%;
        height: 30px;
        color: #111;
        margin-top: 20px;
        border: 1px solid;
        text-align: center;
        border-radius: 2px;
        background-color: #f0c14b;
        border-color: #a88734 #9c7e31 #846a29;
      }
    }
  }
}
.shopping-list {
  .shopping-cart-products {
    width: 100%;
    padding: 0;
    display: flex;
    margin: 20px 0;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid #e4e4e4;

    .product-image {
      width: 150px;
      height: 150px;
      max-height: 150px;
    }
    .product-info {
      width: 100%;
      height: auto;
      padding-left: 20px;

      .product-description {
        display: flex;
        font-size: 18px;
        justify-content: space-between;
        .title {
          width: 80%;
          color: #0f1111;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
      .in-stock {
        font-size: 14px;
        color: #007600;
        font-weight: 500;
      }
      .regular-text {
        color: #0f1111;
      }
      .in-stock,
      .regular-text {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
  }
}
